/* Utilities*/
/* Base */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #191826;
  font-family: "IBM Plex Sans", sans-serif;
  background: url(../images/bg-main-desktop.png) no-repeat border-box, url(../images/bg-pattern-1.svg) no-repeat;
  background-position: bottom 10px right 20px, top -40px right -36px;
}
@media screen and (max-width: 1200px) {
  body {
    background-size: auto, auto 400px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-size: auto, 0;
    background-position: top -600px right -350px, 0;
  }
}

/* Typography */
h1 {
  font-size: 8.8rem;
  line-height: 8.8rem;
  letter-spacing: -0.1rem;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 7.8rem;
    line-height: 1;
    letter-spacing: -0.8px;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 6.4rem;
    line-height: 1;
    letter-spacing: -0.73px;
  }
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -0.45px;
  }
}

h2 {
  font-size: 4rem;
  line-height: 5.2rem;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -0.45px;
  }
}

a {
  text-decoration: none;
  color: #191826;
}

strong {
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 1;
}

/* Components */
.btn {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.018rem;
  border-radius: 1.2rem;
}
.btn--dark {
  background: #191826;
  color: #FCFAF9;
}
.btn--dark:hover {
  background: #66E2DC;
}
.btn--light {
  background: #FCFAF9;
  color: #191826;
}
.btn--light:hover {
  background: #FFB964;
}

/* Layout */
.container {
  max-width: 1160px;
  margin: 0 auto;
  overflow: visible;
  padding: 0 30px;
}

header .logo {
  padding: 6.2rem 0;
}

.showcase {
  max-width: 850px;
  margin-right: calc((100vw - 1180px - 60px) / 2 - 312px);
  margin-top: 6.5rem;
}
@media screen and (max-width: 1200px) {
  .showcase {
    width: calc(100vw - 270px);
    margin-top: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .showcase {
    margin-right: 0;
    margin-top: 0;
    width: 100%;
  }
}
.showcase p {
  margin: 4rem 0;
  font-size: 2rem;
  line-height: 3.4rem;
}

.app {
  height: 60rem;
  width: 100%;
  background: url(../images/bg-pattern-2.svg) no-repeat 42% -40px, #191826;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 300px;
  border-radius: 1.2rem;
  position: relative;
}
@media screen and (max-width: 900px) {
  .app {
    margin-top: 18rem;
  }
}
@media screen and (max-width: 600px) {
  .app {
    grid-template-columns: 1fr;
    height: 40rem;
  }
}
@media screen and (max-width: 600px) {
  .app--container {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
}
.app__illustration {
  width: 312px;
  position: absolute;
  top: -213px;
  left: calc(20% - 104px);
}
@media screen and (max-width: 900px) {
  .app__illustration {
    height: 556px;
    width: auto;
    top: -130px;
  }
}
@media screen and (max-width: 600px) {
  .app__illustration {
    height: 430px;
    width: auto;
    left: calc(50vw - 104px);
    top: -100px;
  }
}
.app__subscription {
  position: absolute;
  top: 90px;
  right: 8vw;
  width: 446px;
  height: 625px;
  padding: 4.8rem 5.6rem;
  border-radius: 1.2rem;
  background: #FA7453;
  color: #FCFAF9;
  z-index: 100;
}
@media screen and (max-width: 900px) {
  .app__subscription {
    padding: 4.8rem;
    height: auto;
    width: 400px;
    right: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .app__subscription {
    width: 100%;
    /*max-width: 400px;
    left:50%; 
    transform:translateX(-50%);*/
    top: 380px;
    right: 0;
    padding: 4.8rem 3.6rem;
  }
}
.app__subscription .container {
  max-width: 100%;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .app__subscription .container {
    max-width: 400px;
  }
}
.app__subscription h2 {
  margin: 1rem 0;
}
.app__subscription p {
  font-size: 2rem;
  line-height: 3.4rem;
  margin: 1.2rem 0;
}
@media screen and (max-width: 900px) {
  .app__subscription p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
.app__subscription img {
  display: inline;
  height: 2rem;
  margin-right: 0.8rem;
  width: auto;
}
.app__subscription__price {
  display: flex;
  margin: 2.8rem 0;
  align-items: center;
}
.app__subscription__price p {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -0.02rem;
}
.app__subscription__price strong {
  margin-right: 1.6rem;
}
.app__subscription .btn {
  margin-top: 1.6rem;
  align-self: flex-end;
}

.footer {
  margin: 20rem 0 5rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
@media screen and (max-width: 900px) {
  .footer {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    margin-top: 65rem;
    grid-template-columns: 1fr;
  }
}
.footer img {
  display: inline-block;
}
.footer .logo {
  max-height: 3.2rem;
  margin-bottom: 3.2rem;
}
.footer__text {
  max-width: 37rem;
}
.footer__text p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.footer__text a {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
}
@media screen and (max-width: 900px) {
  .footer__text {
    grid-column: 1;
  }
}
.footer__social {
  justify-self: flex-end;
  align-self: center;
}
@media screen and (max-width: 600px) {
  .footer__social {
    justify-self: start;
  }
}
.footer__social a {
  margin-left: 2rem;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .footer__social a {
    margin: 6.4rem 2rem 4rem 0;
  }
}
.footer__social img:hover {
  filter: invert(56%) sepia(18%) saturate(2179%) hue-rotate(322deg) brightness(105%) contrast(96%);
}

/*# sourceMappingURL=style.css.map */
